.skin-blue .sidebar-menu > li > a {
    border-left: 10px solid transparent;
    font-size: 1.35em;
}

.user-panel > .info > a {
    font-size: .85em;

}

.main-sidebar {
    padding-top: 60px;
    height: 100vh;  
}