@model Attendance_System.Models.Lecture

<p class="box-text margin-offset">Next Lecture: <br /><strong>@Html.DisplayFor(model => model.LectureName)</strong> from the <strong>@Html.DisplayFor(model => model.Course.CourseName)</strong> course.</p>
<p class="box-text">Starts: <strong> @Html.DisplayFor(model => model.StartTime)</strong></p>





